body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

#message {
    font-weight: bold;
}

#secretNumberLabel{
    display: none; 
}
.show{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#imagenCongratulation {
    display: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
} 
